/*// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
$light_gray: #F6F7F8;

.post-container {
	width: 496px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 3px;
	background: #fff;
	position: relative;
}

.post-header {
	padding: 10px 0 0 12px;
	img {
		height: 50px;
	}
}

.post-content, .comment-container {
	border-bottom: 1px solid #e1e2e3;;
}

.text {
	padding: 20px 24px;
}

.post-footer {
	padding: 8px 12px;
	background: $light_gray;
}

.likes {
	float: left;
}

.post-controls {
	padding: 4px 10px;
	font-size: 12px;
}

.post-comments {
	padding: 0px 12px;
	background: $light_gray;
}

.user-likes {
	font-size: 12px;
}
