/*// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.post-container {
	margin-bottom: 20px;
	border-radius: 5px;
	background: #fff;
	position: relative;
}

.post-header {
	padding: 10px 0 0 12px;
}

.post-content {
	padding: 20px 24px;
	border-bottom: 1px solid #ccc;
}

.post-footer {
	padding: 8px 12px;
 	> div {
 		display: inline-block;
 	}
}

.likes {
	float: left;
}

.post-controls {
	float: right;
}