<div class="row">
	<div class="col-md-12">
		<h2>Upcoming Events</h2>
	</div>
	<div class="event-table col-md-10 col-md-offset-1 col-xs-12">
		<%= render 'event_table', :events => @upcoming_events %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Previous Events</h2>
	</div>
	<div class="event-table col-md-10 col-md-offset-1 col-xs-12">
		<%= render 'event_table', :events => @previous_events %>
	</div>
</div>