<% @users.each do |user| %>
<div>
	<%= link_to user.name, user %>
	<% if current_user.can_request(user) %>
		<%= link_to "Add", friendships_path(friend_id: user.id), method: :post %>
	<% else %>
	<% end %>
</div>
<% end %>