<div class="post-container col-xs-8 col-xs-offset-2">
	<div class="post-header">
		<%= link_to post.user.name, post.user %>
	</div>
	<div class="post-content">
		<%= post.content %>
	</div>
	<div class="post-footer">
	</div>
</div>