<%= @user.name %>

<div class="friends">
<% @friends.each do |friend| %>
	<%= friend.name %>
<% end %>
</div>

<div class="posts">
	<% @user.posts.each do |post| %>
	<div>
		<%= post.content %>
	</div>
	<% end %>
</div>