<h3><%= @user.name %></h3>

<div class="friends">
	<% @friends.each do |friend| %>
	<div><%= friend.name %></div>
	<% end %>
</div>

<div class="posts">
	<% @user.posts.each do |post| %>
	<div>
		<%= render post %>
	</div>
	<% end %>
</div>